<div id="tabs">
  <div class="container">
      <div class="row">
          <div class="col-xs-12 ">
              <nav>
                  <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                      <a class="nav-item nav-link active" id="nav-busit-tab" data-toggle="tab" href="#nav-busit" role="tab" aria-controls="nav-busit" aria-selected="true">BusIT 2017</a>
                      <a class="nav-item nav-link " id="nav-stage-tab" data-toggle="tab" href="#nav-stage" role="tab" aria-controls="nav-stage" aria-selected="false">Internationale Stage</a>
                    </div>
              </nav>
              <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
                  <div class="tab-pane fade show active" id="nav-busit" role="tabpanel" aria-labelledby="nav-busit-tab">
                      <app-bus-it></app-bus-it>
                  </div>
                  <div class="tab-pane fade " id="nav-stage" role="tabpanel" aria-labelledby="nav-stage-tab">
                      <app-stage></app-stage>
                  </div>
              </div>
          </div>
      </div>
      <br>
      <div class="row">
          <app-internationaliseringref></app-internationaliseringref>
      </div>
  </div>
</div>