<div class="container">
  <table class="table table-striped">
    <thead class="whitebg">
      <tr>
        <th style="width: 10%">Onderdeel</th>
        <th style="width: 20%">Titel</th>
        <th style="width: 10%">Locatie</th>
        <th style="width: 10%">Datum</th>
        <th style="width: 45%">Beschrijving</th>
        <th style="width: 5%">Uren</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Internationalisering</td>
        <td>BusIT 2017</td>
        <td>Brno,
          <br> Tsjechië</td>
        <td>02/04/2017
          <br> 07/04/2017
        </td>
        <td>Location Based Mobile Apps For Android (PXL)</td>
        <td>30</td>
      </tr>
      <tr>
        <td>Internationalisering</td>
        <td>Internationale Stage</td>
        <td>Pretoria,
          <br> Zuid Afrika</td>
        <td>28/02/2018 03/06/2018
        </td>
        <td>Administratie tool “Popeye” en log management (PXL)</td>
        <td>30</td>
      </tr>
      <tr>
        <td>Innovatie</td>
        <td>RESTful API</td>
        <td>Pluralsight</td>
        <td>2018
          <br>
        </td>
        <td>Ontwikkeling van RESTful server naar theorie Roy Fielding (zelf aangebracht)</td>
        <td>12</td>
      </tr>
      <tr>
        <td>Innovatie</td>
        <td>Python Fundamentals</td>
        <td>Pluralsight</td>
        <td>2017
          <br>
        </td>
        <td>Basis cursus Python 3 (zelf aangebracht)
          <br>
          <br>
        </td>
        <td>7</td>
      </tr>
      <tr>
        <td>Seminaries</td>
        <td>UXSA2018</td>
        <td>Johannesburg, Zuid Afrika</td>
        <td>09/05/2018 11/05/2018
        </td>
        <td>Drie daagse event m.b.t. UX Design (zelf aangebracht)</td>
        <td>15</td>
      </tr>
      <tr>
        <td>Seminaries</td>
        <td>BlockChain - De Digitale Revolutie</td>
        <td>PXL</td>
        <td>17/01/2018
        </td>
        <td>IT@Breakfast in samenwerking met Stijn Bijnens. (PXL)</td>
        <td>2</td>
      </tr>
      <tr>
        <td>Seminaries</td>
        <td>Deep Learning</td>
        <td>Corda Conference</td>
        <td>10/01/2018
        </td>
        <td>Seminarie over AI/Deep Learning van InfoFarm. (PXL)</td>
        <td>3</td>
      </tr>
      <tr>
        <td>Seminaries</td>
        <td>Artificiële Intelligentie</td>
        <td>PXL B223</td>
        <td>18/12/2017
        </td>
        <td>Seminarie over AI/Deep Learning van PXL Smart ICT. (PXL)</td>
        <td>2</td>
      </tr>
      <tr>
        <td>Seminaries</td>
        <td>Product-data beheren voor marketplaces</td>
        <td>Corda Conference</td>
        <td>25/10/2017
        </td>
        <td>Seminarie over marketplaces van YellowGround. (PXL)</td>
        <td>2</td>
      </tr>
      <tr>
        <td>Seminaries</td>
        <td>BlockChain explained</td>
        <td>PXL B141</td>
        <td>27/09/2017
        </td>
        <td>Seminarie over BlockChain van ICapps. (PXL)
          <br>
          <br>
        </td>
        <td>2</td>
      </tr>
      <tr>
        <td>Seminaries</td>
        <td>Internet Of Things</td>
        <td>Corda Conference</td>
        <td>16/05/2017
        </td>
        <td>Seminarie over Internet of Things van IDA-MediaFoundry. (PXL)
        </td>
        <td>3</td>
      </tr>
      <tr>
        <td>Seminaries</td>
        <td>AI and Robotics</td>
        <td>Corda Conference</td>
        <td>02/05/2017
        </td>
        <td>Seminarie over AI en Robotics van Craftworkz. (PXL)
        </td>
        <td>4</td>
      </tr>
      <tr>
        <td>Seminaries</td>
        <td>Introduction to iOS and Android</td>
        <td>Corda Conference</td>
        <td>18/04/2017
        </td>
        <td>Seminarie over iOs en Android van AppFoundry (PXL)
        </td>
        <td>3</td>
      </tr>
      <tr>
        <td>Seminaries</td>
        <td>VueJS</td>
        <td>PXL B151</td>
        <td>28/03/2017
        </td>
        <td>Seminarie over het Javascript framework VueJs door Euricom. (PXL)
        </td>
        <td>3</td>
      </tr>
      <tr>
        <td>Seminaries</td>
        <td>XP Practices, SOLID, TDD and Craftsmanship</td>
        <td>PXL B341</td>
        <td>21/03/2017
        </td>
        <td>All round programming seminarie van Cegeka. (PXL)
        </td>
        <td>3</td>
      </tr>
      <tr>
        <td>Student Engagement</td>
        <td>Google HashCode 2018</td>
        <td>Pretoria,
          <br> Zuid Afrika</td>
        <td>01/03/2018
        </td>
        <td>Deelname aan Hackathon Google HashCode 2018. (zelf aangebracht)
        </td>
        <td>4</td>
      </tr>
      <tr>
        <td>Student Engagement</td>
        <td>Study Buddy</td>
        <td>PXL</td>
        <td>09/10/2016 19/10/2016
        </td>
        <td>Tutorship eerstejaarsstudent voor Programming Basics. (PXL)
        </td>
        <td>20</td>
      </tr>
    </tbody>
  </table>
</div>