<div id="tabs">
  <div class="container">
      <div class="row">
          <div class="col-xs-12 ">
              <nav>
                  <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                      <a class="nav-item nav-link active" id="nav-hash-tab" data-toggle="tab" href="#nav-hash" role="tab" aria-controls="nav-hash" aria-selected="true">Reflectie Seminaries</a>
                  </div>
              </nav>
              <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
                  <div class="tab-pane fade show active" id="nav-hash" role="tabpanel" aria-labelledby="nav-hash-tab">
                    <div class="container">
                        <p>Net zoals dat ik bij innovatie al reeds neerschrijf ben ik er van overtuigd dat PXL seminaries aanbiedt om je voor te bereiden op het feit dat je als IT’er jezelf constant zal moeten bijscholen. Gelukkig is het aanbod seminaries dat aangeboden wordt zeer ruim en is er voor ieder onderwerp wel te vinden. Iedere week waren er wel meerdere seminaries waar toch één wel tot de verbeelding sprak. </p>
                        <p>Ikzelf heb gewoon altijd gekozen voor de seminaries die ik interessant achten, zonder er (op dat moment) verder over na te denken. Nu ik nadenk over de gevolgde seminaries valt het mij op dat ik toch wel vrij specifiek gekozen heb iedere keer. Zo heb ik twee seminaries gevolgd over BlockChain en zelfs drie over AI. Deze laatste drie hebben zelfs mijn interesse in Python beïnvloed gehad.</p>
                        <p>Ik heb geen spijt van de gevolgde seminaries, elk hiervan heeft mij toch iets bijgeleerd waar ik later in het werkveld, of in privé projecten zeker gebruik van kan maken. Maar dit wilt echter niet zeggen dat alle seminaries even interessant gebracht geworden zijn, er waren er enkele waar er toch een iets groter praktisch moment had mogen inzitten. </p>
                    </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
