<div id="tabs">
  <div class="container">
      <div class="row">
          <div class="col-xs-12 ">
              <nav>
                  <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                      <a class="nav-item nav-link active" id="nav-hash-tab" data-toggle="tab" href="#nav-hash" role="tab" aria-controls="nav-hash" aria-selected="true">Introductie</a>
                  </div>
              </nav>
              <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
                  <div class="tab-pane fade show active" id="nav-hash" role="tabpanel" aria-labelledby="nav-hash-tab">
                    <div class="container">
                      <img src="../../../assets/Knipsel.PNG" class="floatimg">
                      <br>
                      <p>Mijn naam is Simon Bogaerts, ik ben een 26-jarige laatstejaarsstudent Toegepaste Informatica aan hogeschool PXL. Tijdens mijn opleiding heb een passie voor applicatie ontwikkeling ontdekt, en heb daarom voor deze afstudeerrichting gekozen. </p>
                      <p>Ik verkies momenteel om te werken met backen technologieën. Dotnet, Python en Java zijn de talen waar ik het liefste mee werk en mij het comfortabelst mee voel. Verder kan ook mobile development mij heel erg boeien, voornamelijk Xamarin. </p>
                      <p>Buiten school werk houd ik mij vooral bezig met sporten. Meermaals per week zal je me kunnen vinden in een locale fitnesszaak terwijl ik bezig ben met high intensity sporten of power training. </p>
                    </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <br>
</div>


