<div class="container">
  <h3>IT@Breakfast - “BlockChain de digitale revolutie”</h3>
  <h4>17/01/2018 @ PXL</h4>
  <br>

  <p>Een Seminarie georganiseerd door PXL in samenwerking met Stijn Bijnens, de CEO van LRM. Dit seminarie behandelde het opkomende fenomeen genaamd “BlockChain”, een technologie die de komende jaar meer en meer zal opkomen.</p>
  <p>Het was een zeer interessant seminarie, maar behandelde echter wel kennis waar ik al van op de hoogte was. Wat een blockchain is, en hoe deze precies werken zijn nu eenmaal onderwerpen die mij als IT student enorm interesseren. Ik heb echter wel een nieuwe kijk gekregen op hoe het “minen” en “Proof of Work” nu precies in zijn werk gaat.</p>
  
</div>