<div id="tabs">
  <div class="container">
      <div class="row">
          <div class="col-xs-12 ">
              <nav>
                  <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                      <a class="nav-item nav-link active" id="nav-hash-tab" data-toggle="tab" href="#nav-hash" role="tab" aria-controls="nav-hash" aria-selected="true">Reflectie Student Engagement</a>
                  </div>
              </nav>
              <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
                  <div class="tab-pane fade show active" id="nav-hash" role="tabpanel" aria-labelledby="nav-hash-tab">
                    <div class="container">
                        <p>Het domein waar ik achteraf gezien niet helemaal tevreden mee ben. Ik heb me doorheen de jaren niet echt bezig gehouden met de verschillende domeinen die vereist waren in het portfolio, ik heb me vooral laten leiden door mijn interesses en wat mij aansprak om te doen. </p>
                        <p>Het resultaat hiervan is echter een vrij pover resultaat voor student engagement. Maar twee korte activiteiten die bovendien beide een mindere impact hebben achtergelaten bij mij.  Zowel mijn study buddy als HashCode ervaring hebben mij met minder positieve herinneringen of minder goede realisaties achter gelaten. </p>
                        <p>Mocht ik deze realisatie eerder bekomen zijn, zou ik echter wel meer gedaan hebben voor dit onderwerp.</p>
                        <p>Ik heb echter geen spijt aan de activiteiten die ik wel gedaan heb. In het leven zal je nu eenmaal af en toe met je hoofd tegen de muur stoten. En ondanks het mindere resultaat heb ik er toch veel uit geleerd, zowel over mezelf als persoon als over mijn werkpunten. Nu is het aan mij om te beslissen hoe ik hier later mee om ga gaan, of hoe ik deze kan verbeteren. </p> 
                    </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
